<div>
    <h1>ADD RECORD</h1>
    <span class="close-button">
        X
    </span>
    <br/>
    <form action="/record/create" method="POST">
        <input placeholder="Enter Name" type="text" name="name"/>
        <input placeholder="Bought At" type="number" step="0.01" name="boughtAt"/>
        <input placeholder="Sold At" type="number" step="0.01" name="soldAt"/>
        <input placeholder="Royalty" type="number" step="0.01" name="royalty"/>
        <input placeholder="Quantity" type="number" name="quantity"/>

        <!-- <input placeholder="Enter Name" type="text" name="name"/> -->
        <!-- <input placeholder="Enter Name" type="text" name="name"/> -->

        <button type="submit" class="add-record-button">
            Create record
        </button>
    </form>
</div>