<link rel="stylesheet" href="/css/navbar.css">


<div class="nav">
    <span class="logo">
        NFT RECORDS
    </span>
    
    <form action="/user/sign-out" method="GET" class="right-nav">
        <button type="submit" class="logout">LOGOUT</button>
    </form>
    <span class="right-nav">
        <%=user.firstName%>
    </span>
</div>