<link rel="stylesheet" href="/css/signUp.css">


<div class="form">
    <h2>Sign Up</h2> 
<form action="/user/create" method="POST">
    <input type="text" name="username" placeholder="Username" class="input-field">
    <input type="text" name="firstName" placeholder="First Name" class="input-field">
    <input type="text" name="lastName" placeholder="Last Name" class="input-field">
    <input type="email" name="email" placeholder="E-mail" class="input-field">
    <input type="password" name="password" placeholder="Password" class="input-field">
    <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field">
    <input type="submit" value="Sign Up" class="button">

</form>
</div>
<