<link rel="stylesheet" href="/css/signIn.css">

<div class="sign-in-form">
<h2>
    Sign In
</h2>
<form action="/user/createSession" method="POST" >
    <input type="email" name="email" placeholder="E-mail" class="input-field">
    <input type="password" name="password" placeholder="Password" class="input-field">
    <input type="submit" value="Sign In" class="sign-in-button">
</form>

<hr>
<form action="/user/auth/google" method="get">

    <button type="submit" class="google-button">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/G-on-white.svg" alt="Google logo">
        <span class="google-text">Sign in with Google</span>
      </button>
</form>

</div>